@import "tailwindcss";

@layer base {
  body {
    @apply antialiased text-slate-800 bg-slate-50;
  }
}

/* Custom scrollbar for calendar grid */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
